$background_blue: #007bff;
$text_w_bg_blue: rgba (255,255,255,0.5);
$title_w_bg_white: #000;
$sub_title_w_bg_white: #007bff;
$parraph_color: gray;
$footer_bg_color: #fafafa;
$parraph: rgba(255, 255, 255, 0.55);